<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/andybrewer/mvp/mvp.css">
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
}
.container.dropping {
  background-color: #8f8;
}
.group {
  text-align: center;
  pointer-events: none;
}
</style>
<div class="container">
  <div class="group">
  <h1>Drag Files Here</h1>
  <h3>Files will be available at: https://js5.c0d3.com/assetExercise/userAssets/filename.png</h3>
  </div>
</div>
<script>
const container = document.querySelector('.container')
const makeGreen = (e) => {
  container.classList.add('dropping')
  container.innerHTML = "<h1>Will upload " + e.dataTransfer.items.length + " Files</h1>"
  e.preventDefault()
}
const clearScreen = (e) => {
  container.classList.remove('dropping')
  container.innerHTML = "<h1>Drag Files Here</h1>"
  e.preventDefault()
  return false
}
console.log('container', container)
document.body.addEventListener('dragover', makeGreen)
document.body.addEventListener('dragleave', clearScreen)

document.body.addEventListener('drop', (e) => {
  e.preventDefault()
  const files = Array.from(e.target.files || e.dataTransfer.files)
  // No files
  if (!files.length) {
    return
  }

  const formData = new FormData()
  files.forEach( file => {
    formData.append('assets[]', file, file.name)
  })
  fetch('/assetExercise/api/assets', {
    method: 'POST',
    body: formData
  }).then( r => r.json() ).then(arr => {
    alert(`${files.length} Files uploaded!`)
    window.location.reload()
  })
  return clearScreen(e)
})
</script>
